<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>

<body>
    <h1>Make a new Post</h1>
    <form action="/submits" method="post">
        <section>
            <label for="user">Enter UserName:</label>
            <input type="text" name="title" placeholder="Username" id=user "><br>
        </section>
        <section>
                <label for="Contend">Contend :-></label>
                <br>
                <textarea name="contend" id="contend" cols="30" rows="10"></textarea>
        </section>
        <button>Submit</button>
    </form>




</body>

</html>