<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <h1>Post ID: <%= posts.id %> </h1>
    <h2> Post Title: <%= posts.title %> </h2>
    <hr>
    <h2><%= posts.contend %> </h2>
    <br>
    <a href="/new/<%= posts.id %>/edit ">Edit      </a>
    <a href="/">Back to Index...</a>
    
</body>
</html>